body {
    background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3789FBA2171997B9DCD7B42D5C431319E8480512D88ADAFAC6F58B3D7CDF8BA6/scale?width=2880&aspectRatio=1.78&format=jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Avenir-Roman,sans-serif;
}

.episodeimg {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.video {
    width: 400px;
    border-radius: 20px;
    box-shadow: black 10cm;
    z-index: 1;
    margin-top: 10em;
}
h1, h3 {
    color: whitesmoke;
    text-align: center;
}

